body{
    display: flex;
    gap: 20px;
    overflow: hidden;
    margin: 0;
}
.sideBar{
    width: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: aqua;
    border-top-left-radius: 100px;
    height: 100vh;
}
.side-head{
    margin: 50PX auto;
    margin-bottom:0 ;
    font-size: 42PX;
    border-bottom: 1px solid black;
padding-bottom: 40px;
}
.note-list{
    overflow-y: scroll;
    max-width: 230px;
    margin: 0 auto;


}

.items{

    border-bottom: 1px solid black;  
}
.items.active{
    background-color: bisque;
    border-radius: 15px;
    padding: 20px;
    margin-top: 10px;
    border: none;
}
.content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
gap: 20px;
margin-top: 3em;
}
.addbtn{
    height: 50px;
    margin-bottom: 20px;
}

.add-note{
    display: block;
    height: 100%;
    border-radius: 15px;
    width: 90%;
    background-color: blueviolet;
    margin: auto;
    color: white;
    font-size: 22px;
}